<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>
	<!-- Banner -->
	<div class="banner">
		<img src="/images/images/newBanner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	 <div></div>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < producto.length; i++ ) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/">
						<figure class="product-box_image">
							<img src=<%= producto[i].imagen %> alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= producto[i].nombre %></h2>
							<p><%= producto[i].descripcion %></p>
							<p>Comentarios: 12</p>
							
						</article> 
					
					</a> 
				</section>
			</div>
			<% } %>
		</div>
		
	</div>

</body>	

<%- include("./partials/footer.ejs") %>
