<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<body>

	
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%= producto.producto %></h2> 
				<p class="product-detail-description">
					<a href="/product/add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src=<%= producto.imagen %> alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= producto.descripcion %></p>
					</article>


	<div class="col-12 col-lg-4">
		<section class="comments">

		<% for( let i = 0; i < producto.relacion_pc.length ;i++ ) { %> 
			<article class="articulo-comments">
			<img src="<%= producto.relacion_pc[i].relacion_cu.foto %>" alt="">
			<div class="data">	
				<p class="user">
				<strong> <a href="/profile/<%= producto.relacion_pc[i].relacion_cu.id%>"><%= producto.relacion_pc[i].relacion_cu.email %> </a> </strong>
				<%= producto.relacion_pc[i].comentario %></p>
			</div>
			</article>
		<% } %>
							
				</section>
				<form class="form" action="/product/<%= producto.id %>/comment" method="POST">
					<input class="form-input" name="comment" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				<hr>
			</div>
		</div>
	</div>
	</div>

<%- include("./partials/footer.ejs") %>

</body>	
</html>