

<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<body>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="../images/images/products/img-cafetera-moulinex.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Cafetera Nestle Roja. Con más de 20 funciones distintas para hacer muchos tipos de cafe.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="<%= foto[0].imagen %>" alt="">
							<div class="data">	
								<p class="user">
								<strong> <a href="/profile"><%= Nombre[0].usuario %> </a> </strong>
								 <%= texto[0].texto %></p>
							</div>
						</article>
						<article>
							<img src="<%= foto[1].imagen %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%= Nombre[1].usuario %> </a> </strong>
									<%= texto[1].texto %></p>
							</div>
						</article>
						<article>
							<img src="<%= foto[2].imagen %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%= Nombre[2].usuario %>  </a> </strong>
									<%= texto[2].texto %>
									</p>
							</div>
						</article>
						<article>
							<img src= "<%= foto[3].imagen %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%= Nombre[3].usuario %> </a> </strong>
									<%= texto[3].texto %></p>
							</div>
						</article>
						<article>
							<img src="<%= foto[4].imagen %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%= Nombre[4].usuario %>  </a> </strong>
									<%= texto[4].texto %></p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include("./partials/footer.ejs") %>


</body>	
</html>